.vs
*.log
*.VC.db
*.VC.opendb
ipch/
*.user
*.csproj
*.sln
*.ilk
~$*
Library
build
*.userprefs
user.keystore

/dreamland-unityproj/temp
/dreamland-unityproj/Temp
/dreamland-unityproj/Assets/StreamingAssets
/dreamland-unityproj/Assets/StreamingAssets.meta
/dreamland-unityproj/obj
/dreamland-unityproj/Log
/dreamland-unityproj/UnityPackageManager
